.nav {
  display: flex;
  -webkit-box-align: center;
  margin-left: auto;
}

.search {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: transparent;
  border: none;
  width: 2.5rem;
  height: 2rem;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.75rem;
}
